* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.order {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 4~fr;
}
header {
  background-color: rgb(224, 219, 219);
  padding: 20px 40px;
  display: grid;
  grid-auto-flow: rows;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  grid-column: 2;
  grid-row: 1/2;
  box-shadow: 0px 2px 10px rgb(83, 83, 83);
}
.search {
  width: auto;
  scale: 1.2;
  margin-top: 4px;
  margin-right: 5px;
  cursor: pointer;
}
.head1 {
  display: grid;
  grid-template-columns: 25px 1fr 1fr;
  justify-items: end;
}
.right {
  display: flex;
  justify-content: space-evenly;
}
.head2 {
  display: grid;
  grid-template-columns: 300px 1fr;
}
/* Header->>>> */
input[type="search"] {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 0 0 30px;
  font-size: 13px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 5px black;
}
.bell > img {
  margin-top: 10px;
  width: 30x;
  height: 30px;
}
.imgs > img {
  margin-left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 60%;
  cursor: pointer;
}
.name {
  display: flex;
  margin-top: 5px;
  font-size: 1.1rem;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  margin-left: 20px;
}

.prof {
  display: flex;
  text-align: center;
  cursor: pointer;
}
.prof:hover {
  scale: 1.1;
  transition: 0.25s;
}
.profile-img > img {
  width: 5rem;
  border-radius: 60%;
  border: none;
  box-shadow: 2px 2px 10px rgb(18, 17, 17);
}

.username {
  position: relative;
  margin-top: 40px;
  margin-left: 20px;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}
span {
  position: absolute;
  top: -25px;
  font-size: 14px;
  left: -5px;
}
.btn-container {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.btn {
  width: 6rem;
  height: 3rem;
  padding: 10px;
  font-size: 1rem;
  background-color: rgb(5, 255, 201);
  color: rgb(254, 254, 254);
  font-weight: 800;
  border-radius: 25px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  scale: 1.1;
  opacity: 0.9;
  box-shadow: 1px 2px 5px black;
  transition: 0.15s;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 255, 201);
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  gap: 1rem;
}
.dash > img {
  height: 40px;
  text-align: start;
}
.dash {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 10%;
  padding: 20px;
  cursor: pointer;
}
.menu:hover {
  scale: 1.1;
  text-decoration: underline;
  transition: 0.15s;
}
.menu > img {
  padding-left: 20px;
}
.menu > div {
  width: 20%;
  display: flex;
  justify-content: start;
  text-align: center;
  margin-right: 100px;
}
main {
  background-color: rgb(5, 55, 38);

  grid-template-columns: 2;
  grid-row:2
}
